button{
  cursor: pointer;
}


nav {
  display: flex;
  max-height: 6rem;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}


nav > div:first-child {
  display: flex;
  width: 15%;
  justify-content: flex-end;
  align-items: center;
}
nav > div:last-child {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}
.header-logo {
  height: 100%;
  object-fit: cover;
}

.search-bar{
  height: 2.7rem !important;
  background-color: rgba(192, 192, 192, 0.482);
  border: none;
  border-radius: 5px;
  width: 35rem;
  margin-left: -20rem;
  padding-left: 1rem;
}

.sign-in-button {
  background-color: #ea3d32;
  color: white;
}
.login-signup-section {
  box-sizing: border-box;
  width: 30rem;
  position: absolute;
  left: 50%;
  top: -50%;
  height: 32rem;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
  z-index: 1;
}
.close-botton-h2{
  cursor: pointer;
}

.close-botton-h2:hover{
  text-shadow:  1px 1px rgb(0, 0, 0);
}
.login-signup-section > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.signup-section-header {
  flex-direction: row !important;
  justify-content: space-between;
}
.signup-section-header > h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}
.check-box-signup {
  height: 1.6rem;
  width: 1.6rem;
}
.signup-input-div > input {
  height: 2.4rem;
}
.signup-input-term-div {
  display: flex;
  flex-direction: row !important;
  font-size: 0.7rem;
  align-items: center;
}
.signup-button-div > * {
  margin: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  top: 50%;
}
.signup-login-div{
  flex-direction: row !important;
}
.signup-login-div>span{
  color: #ea3d32;
  text-decoration: underline;
  cursor: pointer;
}


.signup-bottons{
  margin: .4rem 0;
  height: 2.5rem;
}

.template-section{
  margin: 4rem 0 4rem 2rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: left;

}
.template-card-section{
  padding: 1rem;
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
}

.template-section-header-div{
display: flex;
width: 90%;
align-items: center;
justify-content: space-between;  
}
.template-section-view-all{
  color: #ea3d32;
}
.template-section-heading{
  color: #506F22;
}
.product-card-bottom-div{
  display: flex;
}
.product-card-bottom-div:first-child{
flex: 3;
}
.template-card{
cursor: pointer;
transition: ease-in-out .1s;
}
.template-card:hover{
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
}
.home-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homepage-section{
  margin-top: 2rem;
  padding-left: 2rem;
}

hr{
  margin: auto !important;
  width: 82%;
}

.homepage-advertise-section{
  height: 64vh;
  width: 84%;
  margin: auto;
  overflow: hidden;
 }

.homepage-advertise-section-img{
  object-fit: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}
.card-price-div{
  font-size: 1.3rem;
}
.card-rating-div{
  font-size: .8rem;
  border-radius: 5px;
  background-color: #506F22;
  color: white;
  padding: 3px;
  right: .8rem;
  top: .8rem;
}
.card-image-div{
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 5px;
display: flex;
justify-content: center;
}
.card-image{
  object-fit: contain;
}
.card-price-div{
  color: #3A5A40;
}