.App {
  text-align: center;
}
.verify-page-logo {
  height: 9rem;
}
.spinner {
  display: none;
}

.modal-div,
.active-spinner {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.active-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4 !important;
}
.active-spinner>* {
  height: 5.5rem;
}
.hide{
  display: none;
}
.verify-page-sextion {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  color: #4a4949;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffdec;
  overflow: hidden;
}
.verify-page-sextion > img {
  position: fixed;
  width: 25rem;
  opacity: 0.5;
}
.verify-page-background-image-bottom {
  left: 0;
  bottom: 0;
  transform: translate(1rem, -1rem);
  rotate: 180deg;
}
.verify-page-background-image-top {
  top: 0;
  right: 0;
  transform: translate(1rem, -1rem);
}
.hamburger-section-active {
  display: none;
}
.verify-age-button {
  height: 3.5rem;
  margin: 2rem;
  width: 6rem;
  border: 2px solid #ea3d32;
  background-color: inherit;
  border-radius: 8px;
}
.verify-age-button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

button {
  height: 3rem;
  line-height: 1rem !important;
  margin: 2rem;
  width: 6.5rem;
  border: 2px solid #ea3d32;
  background-color: inherit;
  border-radius: 8px !important;
  color: #ea3d32;
  overflow: hidden;
  font-size: .9rem !important;
  padding: 0 !important;
}
button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

button,
nav {
  cursor: pointer;
}

nav {
  width: 100% !important;
  max-height: 6rem;
  position: relative;
  display: flex;
  justify-content: space-between !important;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.cell-signin-div {
  display: none;
}

nav > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 20%;
}
.nav-container-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-bar-container {
  display: flex;
  height: 100% !important;
  align-items: center;
  justify-content: space-around;
  margin-left: 0 !important;
  width: auto !important;
}
.nav-bar-container > * {
  margin: 0 0.5rem;
}
.header-logo {
  height: 90%;
  object-fit: cover;
}

.search-bar {
  height: 2.7rem !important;
  background-color: rgba(192, 192, 192, 0.482);
  border: none;
  border-radius: 5px;
  width: 25rem;
  padding-left: 1rem;
}
.color-green {
  color: #506f22;
}
.sign-in-button,
.checkout-button,
.add-to-cart-button {
  background-color: #ea3d32;
  color: white;
}

.hamburger-section {
  display: none !important;
}
.hamburger-section-active > div,
.homo-sort-section-active > div {
  width: 80%;
  margin: 1.3rem;
  border-bottom: 2px solid #0000000f;
}
.hamburger-section-active > div:last-child {
  border: none;
}
.login-signup-section button{
  height: 3rem;
}
.login-signup-section,
.order-rate-section {
  box-sizing: border-box;
  width: 30rem;
  position: fixed;
  left: 50%;
  top: -50%;
  height: 32rem;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
  z-index: 3;
  overflow: hidden;
}
.close-botton-h2 {
  cursor: pointer;
}

.close-botton-h2:hover {
  text-shadow: 1px 1px rgb(0, 0, 0);
}
.login-signup-section > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.signup-section-header {
  flex-direction: row !important;
  justify-content: space-between;
}
.signup-section-header > h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}
.check-box-signup {
  height: 1.6rem;
  width: 1.6rem;
}
.signup-input-div > input {
  height: 2.4rem;
}
.signup-input-term-div {
  display: flex;
  flex-direction: row !important;
  font-size: 0.7rem;
  align-items: center;
  line-height: 0.9rem;
}
.signup-button-div > * {
  margin: 0.1rem 0 0 0;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  top: 50%;
}
.signup-login-div {
  flex-direction: row !important;
}
.signup-login-div > span {
  color: #ea3d32;
  text-decoration: underline;
  cursor: pointer;
}
.signup-bottons {
  margin: 0.4rem 0;
  height: 2.5rem;
}

/* --------------------------------------------------search tile----------------------------------------- */
.search-product-tile{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  gap: 2rem;
}

.search-products-section{
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  background: #fff;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.5);
}
.search-products-section::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.search-products-section::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

.search-products-section::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.search-products-section::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
.search-product-img{
  height: 3.5rem !important; 
  width: 3.5rem !important;
  overflow: hidden;
  object-fit: cover;
  border-radius: inherit;
}
.search-product-img-div{
  height: 3.1rem !important; 
  width: 3.1rem !important;
  overflow: hidden;
  object-fit: cover;
  border-radius: 8px;
}


/* -------------------------------------template------------------------------------------------------------------------------------ */

.template-section {
  margin: 4rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.template-card-section {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}
.template-section-header-div {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.template-section-view-all {
  color: #ea3d32;
}
.template-section-heading {
  color: #506f22;
}
.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homepage-section {
  margin-top: 2rem;
  padding-left: 2rem;
}
.for-cell {
  display: none !important;
}
hr {
  margin: auto !important;
  width: 82%;
}

.homepage-advertise-section {
  height: 64vh;
  width: 84%;
  margin: auto;
  overflow: hidden;
}

.homepage-advertise-section-img {
  object-fit: cover !important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.selected-button,
.acount-header-button-section-active {
  background-color: #fa91082b;
  border: 1px solid #fa9108f0 !important;
}

.order-history-section {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-rate-section,
.login-signup-section-password {
  height: 39vh;
  width: 40%;
  text-align: start;
}
.order-rate-section > textarea {
  border-radius: 10px;
  min-height: 5rem;
  max-height: 5rem;
}
.product-page-card {
  display: flex;
  width: 90%;
  min-height: 100vh;
  margin: auto;
  justify-content: space-around !;
}

.product-tile-body > * {
  margin-bottom: 3rem;
}
.acount-header-button-section {
  display: flex;
  margin: 2rem auto;
  border-bottom: 2px solid #0000002b;
  width: 78%;
  padding: 0.1rem;
  justify-content: space-around;
}
.acount-header-button-section > * {
  flex: 1;
  height: 98% !important;
  margin: 0.5rem 0;
  color: #3b3b3b;
  border-right: 0.1rem solid #0000002b;
  border-radius: 0 !important;
}
.acount-header-button-section > * > button {
  border: 1px solid #ea3d32;
  height: 2.6rem !important;
  width: 9rem;
}
.acount-header-button-section > *:last-child {
  border: none;
}
.acount-header-button-section > *:hover {
  text-decoration: underline;
  box-shadow: none;
}
.account-page-user-section {
  display: flex;
  height: 60vh;
  width: 85%;
  margin: auto;
  padding: 1.3rem;
  background-color: #0000000f;
  border-radius: 10px;
}
.account-page-user-section > div:first-child {
  height: 100% !important;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.account-page-user-image {
  object-fit: cover !important;
  height: 100%;
  width: 100%;
  border-radius: 10px !important;
}
.account-page-user-section > div:last-child {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.account-page-user-section > div:last-child > div {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  margin: 1rem auto;
  flex: 1;
  align-items: center;
  padding: 0.6rem;
}

/* ---------------------------------------------------------------------------card----------------------------------------------------------- */
.product-card {
  min-width: 14.5rem;
  max-width: 14.5rem;
  height: 25rem;
  /* margin: 1rem ; */
  cursor: pointer;
  transition: ease-in-out 0.1s;
  padding: 0.5rem;
  border-radius: 5px;
}

.product-card:hover .template-image-div,
.account-page-tile:hover .account-page-tile-image-div {
  box-shadow: 0 0 2px 1px grey;
}
.card-rating-div {
  position: absolute;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #506f22;
  color: white;
  padding: 3px;
  right: 0.5rem;
  top: 0.5rem;
}

.template-image,
.account-tile-image,
.product-image,
.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: inherit;
}
.template-image-div {
  margin: auto;
  width: 95%;
  height: 67%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
.template-details {
  overflow: hidden;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
  margin: auto;
}
.template-details > * {
  margin: 0;
}
.template-details-product-header {
  display: flex;
  font-size: 0.9rem;
  color: #0000007a;
  justify-content: space-between;
  padding: 0 !important;
}
.card-price,
.account-card-delivered,
.card-price-div,
.product-card-price-div {
  color: #506f22;
}

.template-details-product-header > * {
  margin: 0;
}
.template-details-product-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.template-details-product-bottom-buttons {
  display: flex;
}
.template-details-product-bottom-buttons > button {
  width: fit-content;
  padding: 0 0.7rem !important;
  height: 2.7rem !important;
}

.account-page-tile {
  width: 25rem;
  height: 15rem;
  margin: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
}
.account-page-tile-image-div {
  width: 49%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.account-template-details,
.product-details {
  overflow: hidden;
  height: 100%;
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
  margin: auto;
}
.account-template-details {
  padding: 0 0 0 0.7rem;
}
.account-template-details-product-bottom {
  display: flex;
  gap: 0.5rem;
}
.account-template-details-product-bottom > button {
  width: fit-content;
  padding: 0 1rem !important;
  height: 2.7rem !important;
}
.account-card-price {
  font-size: 1.3rem;
}
.card-name {
  margin: 0 !important;
}
.account-card-delivered > p {
  margin: 0;
}
.product-page-card {
  display: flex;
  width: 90%;
  min-height: 100vh;
  margin: auto;
  justify-content: space-around !;
}

.product-tile-body > * {
  margin-bottom: 3rem;
}
.product-card-image-div {
  width: 100% !important;
  margin: 1rem auto !important;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.product-page-other-images {
  height: 5rem;
  width: 5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  background-image: radial-gradient(rgb(178, 178, 178), rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

.product-card-body {
  padding: 20px;
}
.product-card-body > * {
  margin-bottom: 2rem;
}
.product-card-body h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.product-card-price-div {
  font-size: 1.5rem;
}

.product-card-bottom-div button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ea3d32;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.product-card-bottom-div button:hover {
  background-color: #d9321b;
}

/* ------------------------------------------------------------------------homogeneous page---------------------------------------------- */

.homogeneous-section {
  padding: 2rem;
  margin: 2rem;
}

.homogeneous-body {
  margin-top: 1rem !important;
}
.homo-sorting-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.homo-sorting-buttons > button {
  border: 1px solid #3b3b3bab;
  height: 2.4rem !important;
  width: fit-content;
  padding: 0 1rem !important;
  color: #3b3b3bab;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homogeneous-section button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.homogeneous-controller {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #000000b5;
  overflow: hidden;
  position: relative;
}

.homo-sort-section,
.cell-sort-section {
  display: none;
}
.button-span {
  display: flex;
  justify-content: space-around;
  flex-direction: column !important;
}
.sort-fontawesome {
  margin: -8px 5px;
}
.homogeneous-body {
  border-top: 1px solid #d4d4d4;
}
.filter-controls-header-cell {
  display: none;
}
.homogeneous-filter-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 3rem 1rem;
  height: fit-content;
}
.filter-controls-header-cell {
  display: none !important;
}
.homogeneous-filter-controls > div {
  flex: 1;
  display: flex;
  align-items: center;
  color: #3b3b3bab;
  margin: 2rem 0;
  flex-direction: column;
}
.homogeneous-filter-controls-head {
  font-size: 1.1rem !important;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.homogeneous-body-content {
  margin-top: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homo-dropDown-weight {
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
  display: none;
}
.homo-dropDown-weight > button {
  height: 2rem !important;
  min-width: fit-content;
  width: 3rem;
  padding: 0.5rem !important;
  font-size: 0.6rem !important;
  border: none;
  color: grey;
  background-color: #d0d0d0;
  margin: 2px;
  line-height: 0.3rem;
}
.activeDrop {
  display: block;
}
.hide-drop-icon {
  transition: ease-in-out 0.2s;
}
.hide-drop-icon-active {
  transition: ease-in-out 0.2s;
  transform: rotate(180deg);
}

.hide-drop-icon-active:hover {
  transition: ease-in-out 0.2s;
  transform: rotate(180deg) scale(1.3);
}

.hide-drop-icon:hover {
  transform: scale(1.3);
}

.active-filter {
  background-color: white !important;
  border: 1px solid #d0d0d0 !important;
}

/* ---------------------------------------------------------------------cart----------------------------- */
.cart {
  padding: 2rem;
}
.cart-section {
  display: flex;
  justify-content: center;
}
.cart-section > div {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.cart-order-summary-section > div {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #000;
  text-align: start;
}
.cart-order-summary-section > div > p {
  flex: 1;
}
.cart-order-summary-section > div > p:last-child {
  display: flex;
  justify-content: flex-end;
}
.total-section {
  border-top: 1px solid silver;
}

.cart-items {
  overflow-y: scroll;
  flex-wrap: nowrap;
  height: 75vh;
}

.cart-tile {
  min-width: 100% !important;
  height: 14rem !important;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  margin-bottom: 0.5rem !important;
}
.cart-tile > * {
  flex: 1;
}

.cart-image-div,.wishlist-image-div {
  flex: 1.4;
  height: 80% !important;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 10px;
}
.cart-tile-body {
  padding: 1rem;
  display: flex;
  height: 80%;
  flex-direction: column;
  width: 35% !important;
  justify-content: space-between !important;
}

.cart-tile > div:last-child {
  height: 80%;
  width: 10%;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.cart-tile > div:last-child > button {
  width: 2rem;
  height: 2rem !important;
  border: none;
}
.update-counter {
  max-width: 9rem;
  display: flex;
  height: 2.4rem;
  border: 2px solid #ea3d32;
  border-radius: 10px;
}
.update-counter > * {
  color: #ea3d32 !important;
  height: 100% !important;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  transition: ease-in-out 0.1s;
}
.item-count {
  width: 1rem;
}
.remove-from-cart {
  font-size: 1rem;
  transition: ease-in-out 0.1s;
}
.change-count:hover,
.remove-from-cart:hover {
  box-shadow: none;
  transform: scale(1.2) !important;
}

/* -----------------------------------------------wishlist------------------------------- */
.wishlist-tile {
  width: 15rem !important;
  height: 16rem !important;
  margin: 2rem 2rem 2rem 0;
}
.wishlist-section {
  display: flex;
  flex-wrap: wrap;
}
.add-to-cart {
  background-color: #ea3d32;
  color: white;
}
.wishlist-tile-buttons > button {
  height: 2.3rem !important;
}

.wishlist-image-div{
  min-height: 10rem;
  max-height: 10rem;
}
/* ---------------------RESPONSIVE---------------------------- */

@media screen and (max-width: 768px) {
  *:hover {
    box-shadow: none !important;
  }
  .verify-page-sextion {
    background-color: #4a4949;
  }

  .verify-page-sextion-container,
  .homogeneous-filter-controls {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fffdec;
    width: 94%;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px !important;
  }

  button:active {
    background-color: #b8342b;
    color: white;
  }

  .non-border-buttons:active {
    background-color: white !important;
    color: #b8342b;
  }
  .verify-page-sextion > img {
    display: none;
  }
  nav {
    margin: auto;
    padding: 0 1rem;
    background-color: #fffdec;
  }
  .nav-bar-container {
    display: none;
  }

  nav > div:first-child {
    width: 39%;
  }
  .login-bar button {
    height: 1rem !important;
  }
  .cell-signin-div {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .login-signup-section,
  .order-rate-section {
    width: 90%;
    height: 32rem;
  }
  .homepage-section {
    margin: 0;
    padding: 0;
  }
  .homepage-advertise-section {
    width: 100%;
  }
  .cell-nav-buttons {
    width: 3rem;
    border: none;
    font-size: 1.4rem !important;
  }

  .search-bar {
    width: 90%;
    background-color: white;
    border: 2px solid #ea3d32;
  }
  .hamburger-buttons {
    width: 80% !important;
    margin: 0.3rem auto !important;
  }
  /* -------------------search------------------------- */
  .search-products-section{
    top: 11.4rem;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    background: #fff;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.5);
  }
  /* ---------------------cart---------------------- */
  .cart-image-div {
    flex: 2;
  }
  /* ---------------------homogeneous----------------------- */
  .hamburger-section-active {
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    top: 6rem;
    background-color: #fffdec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3b3b3bab;
  }

  .homo-sorting-buttons {
    display: none !important;
  }
  .homogeneous-section {
    padding: 0 !important;
    margin: 2rem 0.8rem;
  }

  .homo-sorting-buttons {
    display: none !important;
  }
  .homogeneous-filter-controls {
    display: none;
  }
  .cell-sort-section {
    display: block;
    height: 3rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homo-sort-section-active {
    display: block !important;
    border: 2px solid #fffdec;
    width: 100%;
    right: 2rem;
    background-color: #fffdec;
  }
  .homogeneous-filter-controls-active {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 90% !important;
    height: auto;
    max-height: 90vh;
    overflow: hidden;
  }
  .filter-controls-header-cell {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .for-desktop {
    display: none;
  }
  .for-cell {
    display: block !important;
  }
  .homogeneous-body-content {
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
  }

  .cart {
    padding: 2rem 1rem;
  }

  .cart-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-items {
    padding: 0 !important;
  }

  .wishlist-tile {
    margin: 2rem auto;
  }
  .acount-header-button-section {
    overflow-x: scroll;
  }
  .account-page-tile {
    height: 15rem !important;
    min-width: 100% !important;
    flex-direction: row !important;
    margin: auto;
  }
  .order-history-section {
    margin: 2rem auto;
    width: 90%;
  }
  .order-rate-section {
    height: fit-content;
  }
  .order-rate-section > * {
    margin: 0.5rem 0;
  }
  .product-page-card {
    flex-direction: column;
  }
  .product-image-div {
    width: 100% !important;
    margin: 1rem auto !important;
  }
  .product-card-body {
    margin: 0 !important;
    width: 100%;
  }
  .product-card-body > div {
    width: 100%;
  }
  .product-card-bottom-div > button {
    font-size: 0.7rem !important;
  }
  .order-history-button-div > button {
    margin: 0 0.1rem;
  }
  .product-card {
    min-width: 10rem;
    max-width: 10.9rem;
    height: 25rem;
    /* margin: 1rem ; */
    cursor: pointer;
    transition: ease-in-out 0.1s;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .card-price{
    font-size: .9rem !important;
  }

  /* user profile------------ */
  .account-page-user-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: 2rem auto;
    padding: 1.3rem;
    background-color: #0000000f;
    border-radius: 10px;
  }
  .account-page-user-section > div:first-child {
    width: 100%;
  }
  .account-page-user-section > div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .account-page-user-image {
    object-fit: cover !important;
    height: 100%;
    width: 100%;
    border-radius: 10px !important;
  }

  .account-page-user-section > div:last-child > div {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .account-page-user-section > div:last-child > div > *:first-child {
    font-size: 1.2rem;
  }

  .acount-header-button-section > * {
    flex: 1;
    height: 98% !important;
    margin: 0.5rem 1rem;
    border-right: none;
  }
  .acount-header-button-section > * > button {
    font-size: 0.8rem !important;
    height: 2rem !important;
    width: 6.5rem;
  }
  /* account page tile */
  .account-template-details {
    padding: 0 0 0 0.5rem;
  }
}
