.homogeneous-section > * {
  margin-bottom: 2rem !important;
}
.homo-sorting-buttons > button {
  border: 1px solid #3b3b3bab;
  height: 2.4rem !important;
  width: fit-content;
  padding: 0 1rem !important;
  color: #3b3b3bab;
}
.homogeneous-section button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.homogeneous-controller {
  font-size: 1.1rem;
  color: #000000b5;
}
.button-span {
  display: flex;
  flex-direction: column !important;
}
.sort-fontawesome {
  margin: -8px 5px;
}
.homogeneous-body {
  border-top: 1px solid #d4d4d4;
}

.homogeneous-filter-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 3rem 0;
  height: fit-content;
}
.homogeneous-filter-controls > div {
  flex: 1;
  display: flex;
  align-items: center;
  color: #3b3b3bab;
  margin: 2rem 0;
  flex-direction: column;
}
.homogeneous-filter-controls-head {
  font-size: 1.1rem !important;
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
}
.homogeneous-body-content {
  margin-top: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 1.5rem;
}

.homo-dropDown-weight {
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
  display: none;
}
.homo-dropDown-weight > button {
  height: 1.8rem !important;
  width: 3.8rem;
  font-size: 0.8rem !important;
  border: none;
  color: grey;
  background-color: #d0d0d0;
  margin: 2px;
}
.activeDrop{
    display: block;
}
.hide-drop-icon{
    transition: ease-in-out .2s;
}
.hide-drop-icon-active{
    transition: ease-in-out .2s;
    
    transform: rotate(180deg);
}