.wishlist-tile{
    width:  15rem !important;
    height: 25rem;
    margin: 2rem 2rem 2rem 0;
}
.wishlist-section{
    display: flex;
    flex-wrap: wrap;
}
.add-to-cart{
    background-color: #ea3d32;
    color: white;
}
.wishlist-tile-buttons>button{
    height: 2.3rem !important;
}